@use "sass:color";

$radius: 8px;

// Catppuccin Mocha colors
$rosewater: rgb(245, 224, 220);
$flamingo: rgb(242, 205, 205);
$pink: rgb(245, 194, 231);
$mauve: rgb(203, 166, 247);
$red: rgb(243, 139, 168);
$maroon: rgb(235, 160, 172);
$peach: rgb(250, 179, 135);
$yellow: rgb(249, 226, 175);
$green: rgb(166, 227, 161);
$teal: rgb(148, 226, 213);
$sky: rgb(137, 220, 235);
$sapphire: rgb(116, 199, 236);
$blue: rgb(137, 180, 250);
$lavender: rgb(180, 190, 254);
$text: rgb(205, 214, 244);
$subtext1: rgb(186, 194, 222);
$subtext0: rgb(166, 173, 200);
$overlay2: rgb(147, 153, 178);
$overlay1: rgb(127, 132, 156);
$overlay0: rgb(108, 112, 134);
$surface2: rgb(88, 91, 112);
$surface1: rgb(69, 71, 90);
$surface0: rgb(49, 50, 68);
$base: rgb(30, 30, 46);
$mantle: rgb(24, 24, 37);
$crust: rgb(17, 17, 27);

// Define main theme colors
$bg: $surface1;
$fg: $text;
$accent: $yellow;

window.Bar {
  all: unset;
  padding: 4px;
  border: 1px solid $sapphire;
  background-color: color.change($crust, $alpha: 0.3);
  color: $fg;
  font-size: 14px;
  font-weight: 600;
  font-family: "JetBrainsMono Nerd Font";

  label {
    margin: 0 4px;
  }

  .Workspaces {
    padding: 2px;

    button {
      all: unset;
      // background-color: red;
      min-width: 24px;
      min-height: 24px;

      label {
        transition: all 200ms cubic-bezier(0.1, 1, 0.3, 1);
        // padding: 2px 10px;
        margin: 0px;
        // border-radius: $radius;
        background-color: color.adjust($bg, $lightness: 5%);
      }

      &:hover label {
        background-color: color.adjust($bg, $lightness: 10%);
        border-color: color.adjust($accent, $alpha: -0.7);
      }

      &:active label {
        background-color: color.adjust($bg, $lightness: 15%);
      }
    }

    .focused label {
      color: black;
      // border-color: $yellow;
      background-color: $sapphire;
    }
  }

  .SysTray {
    all: unset;
    // margin-right: 2px;
    // margin-right: 4px;

    button {
      all: unset;
      padding: 0 4px;
      font-size: 16px;
    }
  }

  .FocusedClient {
    margin-left: 8px;
    color: $fg;

    .FocusedClientIcon {
      font-size: 20px;
      margin-right: 4px;
    }
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery label {
    padding-left: 0;
    margin-left: 0;
  }

  .network-speed {
    // font-size: 12px;
    // font-weight: bold;
    // padding: 2px;
    // margin-right: 4px;
  }
  .Separator {
    font-size: 14px;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    // padding: 2px;
    // margin-right: 4px;
    opacity: 0.5;
  }

  .AudioSlider {
    * {
      all: unset;
      margin: 0 8px;
    }
  }

  icon {
    font-size: 14px;
  }
}
